# Base de datos
# Desarrollo local: SQLite
DATABASE_URL="file:./dev.db"

# Produccion en Vercel: PostgreSQL (Neon o Vercel Postgres)
# DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# Clave secreta para acceder al panel admin
ADMIN_SECRET="cambia-esta-clave-secreta-123"

# URL base de la aplicacion (sin barra al final)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
